<%= form_with(model: [:admin, @category], local: true) do |form| %>
  <%= error_messages_for @category %>

  <div class="field">
    <%= form.text_field :name, :placeholder => "Category name" %>
  </div>
  <div class="actions">
    <%= form.submit :class => "button" %> or <%= link_to "cancel", admin_categories_path %>
  </div>
<% end %>
